body {
  background: #5e5e63;
  font-family: 'K2D', sans-serif;
}

.packer-container {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.packer-container .packer-badges {
  display: flex;
}

.packer-container .packer-badges a {
  display: block;
  padding-right: .5rem;
}

.packer-container .packer-tag-line {
  color: #fff;
}

.fork-me-logo {
  background: url('../assets/fork-me.png') no-repeat;
  background-size: contain;
  height: 150px;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}
