<div class="fork-me-logo"></div>
<div class="packer-container">
  <a href="{{githubUrl}}">
    <img src="{{logo}}" alt="{{title}}"/>
  </a>
  <div class="packer-badges">{{> _badges badges=badges}}</div>
  <p class="packer-tag-line">{{tagLine}}</p>
</div>
