<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watch Demo</title>
{{#if inlineStyle}}
    <link rel="stylesheet" href="styles/{{projectName}}.css">
{{/if}}
</head>
<body>
    <div class="container"></div>
    <script src="{{projectName}}.umd.js"></script>
    <script type="application/javascript">
      let main = new window.{{namespace}}.Main();
      main.greet();
    </script>
</body>
</html>
