@import 'base.variables';

body {
  background: $background-colour;
  font-family: 'K2D', sans-serif;
}

.packer-container {
  align-items: center;
  color: $font-colour;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .packer-badges {
    display: flex;

    a {
      display: block;
      padding-right: 0.5rem;
    }
  }

  .packer-tag-line {
    color: $packer-tag-line-colour;
  }
}

.fork-me-logo {
  background: url('../assets/fork-me.png') no-repeat;
  background-size: contain;
  height: 150px;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}
